body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #2593C2;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 75px;
    width: auto;
}

header .logo.center img {
    display: flex;
    justify-content: center;
}

header .searchbar {
    display: flex;
    justify-content: flex-end;
}

header .searchbar input {
    padding: 8px;
    font-size: 1em;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
}

header .searchbar button {
    padding: 8px 15px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

header .searchbar button:hover {
    background-color: #f1c40f;
}

.secondary-header {
    background-color: white;
    margin-top: auto;
}

.secondary-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.secondary-header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.secondary-header nav ul li {
    margin-right: 20px;
}

.secondary-header nav ul li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

.secondary-header nav ul li a:hover {
    color: #ffd700;
}

.img.principal img {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;
    margin: auto;
    border-color: #2593C2;
    border-radius: 2%;
}

hr {
    margin: 50px;
}

footer {
    background-color: #2593C2;
    padding: 10px 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

footer nav ul li {
    margin-right: 20px;
}

footer nav ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color: #ffd700;
}

.image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 1280px) and (max-width: 1680px) {
    header {
        padding: 20px 60px;
    }
}
